# Load Data

In [15]:
from sklearn.datasets import load_iris
iris = load_iris()

# Structure Data into data frame

In [12]:
import pandas as pd 
X = pd.DataFrame(data = iris.data, columns = iris.feature_names)
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [13]:
y = pd.DataFrame(data=iris.target, columns = ['irisType'])
y.head()

   irisType
0         0
1         0
2         0
3         0
4         0

# Analysis on data frame

In [14]:
y.irisType.value_counts()

2    50
1    50
0    50
Name: irisType, dtype: int64

# Different way to create a data frame

In [16]:
import pandas as pd
data=pd.DataFrame({
    'SepalLength':iris.data[:,0],
    'SepalWidth':iris.data[:,1],
    'PetalLength':iris.data[:,2],
    'PetalWidth':iris.data[:,3],
    'Species':iris.target
})
data.head()
data['Species'].value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64