# Load Data

In [23]:
# https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data
TicTacToeFromUCI = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data', header = None)

# Print Out data

In [24]:
TicTacToeFromUCI.columns = ['Space1','Space2','Space3','Space4','Space5','Space6','Space7','Space8','Space9','positive' ]
TicTacToeFromUCI.head()

  Space1 Space2 Space3 Space4 Space5 Space6 Space7 Space8 Space9  positive
0      x      x      x      x      o      o      x      o      o  positive
1      x      x      x      x      o      o      o      x      o  positive
2      x      x      x      x      o      o      o      o      x  positive
3      x      x      x      x      o      o      o      b      b  positive
4      x      x      x      x      o      o      b      o      b  positive

# Final Product

In [25]:
TicTacToeFromUCI.to_csv('TicTacToeFromUCI.csv')